@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default;
}

@tailwind utilities;

@layer base {
  :root {
    --font-spartan: 'League Spartan', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }
  body {
    font-family: var(--font-inter);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  html,
  body {
    background-color: var(--color-white);
    color: black;
    overflow-x: hidden;
    scroll-padding-top: 100px;
  }
  html,
  html:focus-within {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
  a {
    cursor: pointer;
  }
}

@layer components {
  .container-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 1rem;
    margin: 0 auto;
  }
  .ff-primary {
    font-family: var(--font-spartan);
    @apply tracking-tight;
  }

  .ff-secondary {
    font-family: var(--font-inter);
  }

  .sec-heading {
    font-family: var(--font-spartan);
    @apply tracking-tighter text-black/60;
  }

  .primary-heading {
    font-family: var(--font-spartan);
    @apply text-5xl font-black tracking-tighter text-black md:text-6xl lg:text-7xl xl:text-[80px];
  }

  .company-name {
    font-family: var(--font-spartan);
    @apply text-3xl font-black tracking-tighter text-black md:text-3xl lg:text-[32px];
  }

  .heading-1 {
    font-family: var(--font-spartan);
    @apply text-4xl font-black tracking-tighter text-black sm:text-3xl md:text-4xl lg:text-5xl;
  }

  .product-heading {
    font-family: var(--font-spartan);
    @apply text-3xl font-black tracking-tighter text-black md:text-4xl xl:text-5xl;
  }

  .heading-2 {
    font-family: var(--font-spartan);
    @apply text-xl font-bold text-black md:text-2xl;
  }

  .heading-3 {
    font-family: var(--font-inter);
    @apply text-base text-black/60 sm:text-lg;
  }

  .a-links {
    font-family: var(--font-spartan);
    @apply text-lg font-normal text-black/60;
  }

  .btn-primary {
    @apply w-full cursor-pointer rounded-full border-0 bg-black px-2 py-[12.5px] text-center text-sm text-[16px] font-medium text-white transition-colors duration-200 sm:px-4 sm:py-[14px] sm:text-base;
  }
  .btn-primary:hover {
    @apply bg-neutral-800;
  }

  .btn-secondary {
    @apply w-full cursor-pointer rounded-full border border-0 border-neutral-300 bg-white px-4 py-[16.5px] text-center text-[14.67px] font-medium text-black transition-colors duration-200 sm:text-base;
  }
  .btn-secondary:hover {
    @apply bg-neutral-100;
  }
}
