@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@tailwind utilities;

@layer base {
  :root {
    --font-spartan: 'League Spartan', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }
  body {
    font-family: var(--font-inter);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  html,
  body {
    /* ... existing styles ... */
    overflow-x: hidden; /* Temporarily add this to test */
  }
}

@layer components {
  .ff-primary {
    font-family: var(--font-spartan);
    @apply tracking-tighter;
  }

  .primary-heading {
    font-family: var(--font-spartan);
    @apply text-5xl font-black tracking-tighter text-black md:text-6xl lg:text-7xl;
  }

  .company-name {
    font-family: var(--font-spartan);
    @apply text-2xl font-black tracking-tighter text-black md:text-3xl lg:text-[32px];
  }

  .heading-1 {
    font-family: var(--font-spartan);
    @apply text-2xl font-black tracking-tighter text-black sm:text-3xl md:text-4xl lg:text-5xl;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .heading-2 {
    font-family: var(--font-spartan);
    @apply text-lg font-black tracking-tighter text-black md:text-xl;
  }

  .heading-3 {
    font-family: var(--font-inter);
    @apply text-base text-black/80 sm:text-lg;
  }

  .a-links {
    font-family: var(--font-spartan);
    @apply text-lg font-normal text-black/80;
  }

  .btn-primary {
    @apply w-full cursor-pointer rounded-full bg-black px-2 py-[14.5px] text-center text-sm text-[16px] font-medium text-white transition-colors duration-200 sm:px-4 sm:py-[16.5px] sm:text-base;
  }
  .btn-primary:hover {
    @apply bg-neutral-800;
  }

  .btn-secondary {
    @apply w-full cursor-pointer rounded-full border border-neutral-300 bg-white px-4 py-[16.5px] text-center text-sm text-[16px] font-medium text-black transition-colors duration-200 sm:text-base;
  }
  .btn-secondary:hover {
    @apply bg-neutral-100;
  }
}
